includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 5

    paths:
        - src

    tmpDir: var/phpstan

    bootstrapFiles:
        - tests/bootstrap.php

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml