@use './modules/common/common' as *;


.workflow_step {
    padding: 0.8rem 1.4rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    font-weight: 500;
    display:inline-block;
    width : auto;
}

.workflow_arrow {
    font-size: 1.5rem;
    color: #888;
    display :inline-block;
    width : auto;
}