html {
  scroll-behavior: smooth;
}

body {
	width : 100%;
	margin : 0px;
	padding  : 0px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #ffffff;
    color: #1E1E1E;

	font-size: 14px;
}

div {
    display : flex;
    align-items : center;
    justify-content : center;

    width : 100%;
    height : 100%;

    box-sizing : border-box;
}

// Import common modules (header, footer, etc.)
@import './modules/common/common';